#calc-container {
    margin: auto;
    background-color: rgb(66, 66, 66);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Noto Sans Mono";
}

#calc-output {
    background-color: rgb(167, 165, 165);
    border: solid black;
    border-radius: 5px;
    margin: auto;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    height: 13.5%;  
    width: 100%; 
    margin: auto;
}

.del {
    justify-content: right;
    margin-left: auto;
    height: 7%;
}

.output {
    height: 20%;
}

.sm-button {
    border: solid black;
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    height: 95%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.lg-button {
    height: 95%;
    width: 50%;
}

.number {
    background-color: rgb(105, 196, 1);
}

.other {
    background-color: rgb(0, 174, 255);
}

#decimal {
    background-color: rgb(105, 196, 1);
}

#backspace {
    background-color: brown;
    font-size: 1.5rem;
}